body{
	background-image: url('../img/bg.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-clip:border-box;
	background-size:cover;
	margin: 0px;
	width: 80%;
	margin: 2vw auto;
}
.alltop{
    margin-top: 1vw;
    overflow: hidden;
}
.logo{
	float: left;
	margin-left: 1vw;
	background-image: url('../img/logo.png');
	display: inline-block;
	background-repeat:no-repeat;
	background-clip:border-box;
	background-size:cover;
	width: 100%;
	height: 100%;
}
.logo:hover{
	background-image: url('../img/logohover.png');
	transition: all 0.5s linear;
}
.alllogo{
    height: 5vw;
    width: 19.1vw;
    display: inline-block;
}
.lefttop{
	float: right;
}
.ssil{
	display: inline-block;
	float: right;
	text-decoration: none;
	font-size: 1.5vw;
	color: white;
}
.midimg{
	float: left;
	margin-top: 2.5vw;
	width: 30%;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.midimg img{
	width: 100%;
}
.noleft{
	margin-left: 5%;
}
.price{
	height: 25%;
	width: 100%;
	position: absolute;
	background-color: #F26522;
	top: 59%;
	display: none;
}
.midimg:hover .price{
	display: block;
	transition: all 0.5s linear;
}
.fooor{
	color: white;
	display: inline-block;
    float: left;
    margin-left: 5%;
    font-size: 1vw;
}
.fooor2{
	display: inline-block;
	float: left;
	font-size: 2vw;
	margin-left: -8%;
	margin-top: 2%;
}
.fooor3{
	float: right;
	margin-right: 3%;
	font-size: 1.3vw;
	margin-top: 3%;
}
.midimg a{
	text-decoration: none;
	color: white;
	font-size: 1.5vw;
}
.midimg span{
	display: inline-block;
	margin-top: 1vw;
}
.fooot{
	text-align: center;
}
.fooot span{
	display: inline-block;
	font-size: 1.2vw;
	color: white;
	padding-top: 2vw;
}
